.earlyaccess__bg{
  background: linear-gradient(180deg, #181F2B 60%, #0B1524 60%);
  padding: 0px 20px;
 }

 .earlyaccess__container{
  background-color: #1B2330;
  max-width: 863px;
  margin: 0 auto;
  padding: 42px 77px 22px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
 }

 .earlyaccess__title{
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;
 }

 .earlyaccess__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  max-width: 80ch;
  margin: 0 auto 38px;
 
 }

 .earlyaccess__form{
  display: flex;
  justify-content: center;
 }

 .email__input{
  width: 480px;
 }

 #earlyaccess__email{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 16px 0px 16px 38px;
  border-radius: 24px;
  width: calc(100% - 29px);
  margin-right: 29px;
  box-sizing: border-box;
  border: none;
 }

 .email__feedback{
  opacity: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #FF4242;
  text-align: left;
  margin-left: 38px;
  margin-top: 5px;
  transition: .3s;
 }

 #earlyaccess__email::placeholder{
  color: #C0C0C0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
 }

 .earlyacess__btn{
  align-self: start;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 26px 15px 27px;
  border-radius: 24px;
  background: linear-gradient(130deg, #63E1D9 -26.63%, #34A0CD 100%);
  border: none;
  cursor: pointer;
  color:#fff;
 }

 .earlyacess__btn:hover{
  background: #8ADAE3;
 }

 @media (max-width:660px){
  .email__input{
    width: 100%;
   }
   #earlyaccess__email{
    width: 100%;
   }
  .earlyaccess__form{
    flex-direction: column;
  }

  .earlyaccess__container{
    padding: 40px 28px 37px;
  }
  .earlyaccess__bg{
    background: linear-gradient(180deg, #181F2B 50%, #0B1524 50%);
    padding: 0px 20px;
   }
   .earlyacess__btn{
    place-self:stretch;
   }

   .email__feedback{
    margin-top: initial;
    margin-bottom: 18px;
   }
 }

 @media (max-width:450px){
  .earlyaccess__title{
    font-size: 18px;
    line-height: 1.333;
  }
 }
