/*  
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/


body{
  margin: 0;
}

h1,h2,h3,h4,p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width:100%;
  display:block;
}

a{
  color:inherit;
  text-decoration:none;
  display: inline-block;
}

.header__bg{
  background-color: #1B2330;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 410px;
}

.header__container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header__top{
  padding-top: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list{
  display: flex;
  gap: 57px;
}

.nav__item a{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  transition: .3s;
}

.nav__item a:hover{
  text-decoration: underline;
  font-weight: 700;
}

.header__description{
  padding-top: 75px;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

.header__hero{
  width: 720px;
  height: 534px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.header__title{
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  max-width: 30ch;
  margin: 0 auto 32px;
}

.header__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  max-width: 55ch;
  margin: 0 auto 32px;
}

.header__startedbtn{
  padding: 19px 96px;
  border-radius: 28px;
  color: #fff;
  background-image: linear-gradient(138deg, #63E1D9 -49.34%, #34A0CD 100%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 144px
 }

 .header__startedbtn:hover{
  background: #8ADAE3;
  
 }

 @media(max-width:600px){


  .nav__list{
    gap: 24px;
      }
  .nav__item a{
    font-size: 12px;
  }
  .header__title{
    margin-bottom: 15px;
    font-size: 24px;
    max-width: 23ch;
  }
  .header__text{
    font-size: 14px;
    max-width: 37ch;
  }
  .header__hero{
    width: 304px;
    height: 225px;
    margin-bottom: 33px;
  }
  .header__logo{
    width: 80px;
    height: 24px;
  }
  .header__top{
    padding-top: 24px;
  }
  .header__description{
    padding-top: 48px;
  }

  .header__startedbtn{
    padding: 16px 81px;
    margin-bottom: 0px;
   }
 }

 @media (max-width:420px){
  .header__bg{
    background-color: #1B2330;
    background-image: url("../images/bg-curvy-mobile.svg"), linear-gradient(180deg, #1B2330 21%, #181F2B 21%);
    background-repeat: no-repeat;
    background-position: 0px 270px;
    background-size: contain;
  }
 }

 /* vantagens */

 .vantagens__bg{
  background-color: #181F2B;
 }

 .vantagens__container{
  max-width: 880px;
  margin: 0 auto;
  padding: 0px 20px 0;
 }

 .vantagens__list{
  display: flex;
  flex-wrap: wrap;
  gap: 79px 147px;
  
 }

 .vantagem__item{
  flex-grow: 1;
  flex-basis: 349px;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }

 .vantagem__icon{
  margin-bottom: 16px;
  width: 104px;
 }

 .vantagem__title{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 8px;
 }

 .vantagem__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  max-width: 48ch;
 }

 @media(max-width:600px){
  .vantagens__container{
    padding-top: 120px;
  }
  .vantagem__icon{
    width: 80px;
   }
 }

 /* Como o fylo funciona */

 .howfyloworks__bg{
  background-color: #181F2B;
 }

 .howfyloworks__container{
  max-width: 1235px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 57.24px;
  align-items: center;
  padding:137.37px 20px 0px;
  box-sizing: border-box;
 }

 .howfyloworks__hero{
  width: 614.76px;
  max-height: 463.63px;
 }

 .howfyloworks__title{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.25;
  color: #fff;
  max-width: 14ch;
  margin-bottom: 19px;
 }

 .howflyworks__text{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
 }

 .howflyworks__text:first-of-type{
  margin-bottom: 16px;
  max-width: 58ch;
 }

 .howflyworks__text:last-of-type{
  margin-bottom: 24px;
 }

 .howflyworks__howworks-btn{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #62E0D9;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: .3s;
  border-bottom: 1px solid #62E0D9;
  max-width: 170px;
 }

 .howflyworks__howworks-btn:hover{
  color: #FFFFFF;
  border-color: #fff;
 }

 .howworks-btn__arrow use{
  transition: .3s;
 }

 .howflyworks__howworks-btn:hover .howworks-btn__arrow use{
  fill: #fff;
 }

 @media (max-width:1150px){
  .howfyloworks__container{
    grid-template-columns: 1fr;
    gap: 48px;
    justify-items: center;
  }
  .howflyworks__text:last-of-type{
    max-width: 60ch;
   }
 }

 @media (max-width:600px){
  .howfyloworks__title{
    font-size: 18px;
    line-height: 1.333;
    max-width: initial;
  }
  .howflyworks__text{
    font-size: 14px;
    max-width: 40ch !important;
  }
  .howfyloworks__hero{
    width: 304px;
   }
   .howflyworks__howworks-btn{
    font-size: 12px;
    max-width: 134px;
   }
 }